/**{
    border-style: dashed; 
   
   
}
/* gave every box a dashed border 
to better visualize their space */

header {
    background-color: #ce1717; 
    width: 100%;  /* fixed problem of nav shifting under Name when screen size changed */
    
}

header h1 {
    display: inline-block; 
    font-size: 38px;
    }
    /* "inline-block" lets nav elements 
    sit at top right where they are wanted*/

header nav {
    padding-top: 0px;
    margin-right: 20px; /*moved the picture, not the nav items*/
    float: right;  
}
    /*this moved the nav links to the right of the page
    and looks much better than using "position"*/
    


header nav ul {
    list-style-type: none;
    padding-inline-start: 50px;
}

header nav ul li {
    display:inline-block; /*don't mess with this*/
    margin-left: 5px;
}

header img {
    width: 50%;
    display: block;
    height:200px;
    margin: auto;
    padding: 10px;
    
}

nav {
    display: inline; 
}
/*adding width and height here made the box display oddly*/



body {
    background-color: rgb(10, 243, 100);
    color: white;
}
main {
    display: block;
   
}


h2, p {
    display: block;
}
   

.about-me {
    text-align: center;
    border-left: silver;
    border-style: groove;
    border-width: 10px;
    margin-left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}



p {
  margin: 15px;
   
  }


/*aside {
    border-left: silver;
    border-style: groove;
    border-width: 10px;
    margin-left: 20px;
    padding: 20px;
    clear: both;
    float: left;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
} 
*/


#resume {
   /* border-left: silver;
    border-style: groove;
    border-width: 10px;*/
    text-align: center;
    margin:auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

#projects {
   /* border-left: silver;
    border-style: groove;
    border-width: 10px;*/
    text-align: center;
    margin:auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

#contact-me {
    /* border-left: silver;
    border-style: groove;
    border-width: 10px;*/
    text-align: center;
    margin:auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}



.nav-links {
   color: white;
   width: 200px;
   height:300px;
  
}





